parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	WPCompat:
		pluginFile: gp-toolbox.php
	scanFiles:
		# GlotPress Stubs
		- %rootDir%/../../pedro-mendonca/glotpress-stubs/glotpress-stubs.php
	paths:
		- gp-toolbox.php
		- includes/
		- gp-templates/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
	ignoreErrors:
		- identifier: missingType.generics
