/* CSS for GP-Toolbox. */
table {

	&.gp-table {

		&.translation-sets {

			/*
			display: none;

			&.ready {
				display: table;
			}
			*/

			tbody {

				tr {

					td {

						&.highlight {

							&.translated {
								background-color: var(--gp-color-status-current-subtle);
							}

							&.fuzzy {
								background-color: var(--gp-color-status-fuzzy-subtle);
							}

							&.untranslated {
								background-color: var(--gp-color-secondary-200);
							}

							&.waiting {
								background-color: var(--gp-color-status-waiting-subtle);
							}

							&.old {
								background-color: var(--gp-color-status-old-subtle);
							}

							&.rejected {
								background-color: var(--gp-color-status-rejected-subtle);
							}

						}


						&.stats {

							&.old,
							&.rejected {

								div {
									display: flex;
									align-items: center;

									a,
									button {
										display: inline-flex;
										justify-content: center;
									}

									a {

										&.count {
											flex: max-content;
											margin: 0 10px;
										}

									}

									button {

										&.delete {
											padding: 0;
											border: none;
											background: none;
											cursor: pointer;
											color: var(--gp-color-primary-500);
											margin-left: -20px;

											&:disabled {
												color: var(--gp-color-btn-disabled-text);
												cursor: default;
											}

											&.hidden {
												display: none;
											}

										}

									}

								}

							}

						}

					}

				}

			}

		}

	}

}
