/* CSS for GP-Toolbox. */
table.gp-table.translation-sets {

	/*
			display: none;

			&.ready {
				display: table;
			}
			*/
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent) {
	background-color: var(--gp-color-secondary-100);
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent) a {
	opacity: 0.5;
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight a {
	opacity: 1;
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.translated {
	background-color: var(--gp-color-status-current-subtle);
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.fuzzy {
	background-color: var(--gp-color-status-fuzzy-subtle);
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.untranslated {
	background-color: inherit;
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.waiting {
	background-color: var(--gp-color-status-waiting-subtle);
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.old {
	background-color: var(--gp-color-status-old-subtle);
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.rejected {
	background-color: var(--gp-color-status-rejected-subtle);
}

table.gp-table.translation-sets tbody tr td.stats:not(.percent).highlight.changesrequested {
	background-color: var(--gp-color-status-changesrequested-subtle);
}

table.gp-table.translation-sets tbody tr td.stats.old div.progress-notice,
table.gp-table.translation-sets tbody tr td.stats.rejected div.progress-notice,
table.gp-table.translation-sets tbody tr td.stats.changesrequested div.progress-notice {
	font-size: 0.75em;
	font-style: italic;
}

table.gp-table.translation-sets tbody tr td.stats.old a,
table.gp-table.translation-sets tbody tr td.stats.old button,
table.gp-table.translation-sets tbody tr td.stats.rejected a,
table.gp-table.translation-sets tbody tr td.stats.rejected button,
table.gp-table.translation-sets tbody tr td.stats.changesrequested a,
table.gp-table.translation-sets tbody tr td.stats.changesrequested button {
	display: inline-block;
}

table.gp-table.translation-sets tbody tr td.stats.old a.hidden,
table.gp-table.translation-sets tbody tr td.stats.old button.hidden,
table.gp-table.translation-sets tbody tr td.stats.rejected a.hidden,
table.gp-table.translation-sets tbody tr td.stats.rejected button.hidden,
table.gp-table.translation-sets tbody tr td.stats.changesrequested a.hidden,
table.gp-table.translation-sets tbody tr td.stats.changesrequested button.hidden {
	display: none;
}

table.gp-table.translation-sets tbody tr td.stats.old a,
table.gp-table.translation-sets tbody tr td.stats.rejected a,
table.gp-table.translation-sets tbody tr td.stats.changesrequested a {
	padding: 0 1rem;
	width: 100%;
}

table.gp-table.translation-sets tbody tr td.stats.old button.delete,
table.gp-table.translation-sets tbody tr td.stats.rejected button.delete,
table.gp-table.translation-sets tbody tr td.stats.changesrequested button.delete {
	position: absolute;
	translate: -1rem;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: var(--gp-color-primary-500);
}

table.gp-table.translation-sets tbody tr td.stats.old button.delete:disabled,
table.gp-table.translation-sets tbody tr td.stats.rejected button.delete:disabled,
table.gp-table.translation-sets tbody tr td.stats.changesrequested button.delete:disabled {
	color: var(--gp-color-btn-disabled-text);
	cursor: default;
}

table.gp-table.translation-sets tbody tr td.stats.old button.delete span.dashicons,
table.gp-table.translation-sets tbody tr td.stats.rejected button.delete span.dashicons,
table.gp-table.translation-sets tbody tr td.stats.changesrequested button.delete span.dashicons {
	font-size: 1rem;
	vertical-align: middle;
}
