/* CSS for GP-Toolbox. */
table {

	&.gp-table {

		// Generic UI elements.
		button {
			display: inline-block;

			&.hidden {
				display: none;
			}
		}

		button.delete {
			padding: 0;
			border: none;
			background: none;
			cursor: pointer;
			color: var(--gp-color-primary-500);

			&:disabled {
				color: var(--gp-color-btn-disabled-text);
				cursor: default;
			}

			span.dashicons {
				font-size: 1rem;
				vertical-align: middle;
			}

		}

		div.progress-notice {
			font-size: 0.75em;
			font-style: italic;
		}

		td {

			span.unknown {
				text-align: center;
				vertical-align: middle;
				color: var(--gp-color-fg-muted);
				font-style: italic;
			}

		}

		&.gp-toolbox.permission-admin,
		&.gp-toolbox.permission-validator,
		&.gp-toolbox.permission-other,
		&.gp-toolbox.originals {
			width: auto;
		}

		&.translation-sets {

			tbody {

				tr {

					td {

						&.stats {

							&:not(.percent) {

								background-color: var(--gp-color-secondary-100);

								&.highlight {

									a {
										opacity: 1;
									}

									&.translated {
										background-color: var(--gp-color-status-current-subtle);
									}

									&.fuzzy {
										background-color: var(--gp-color-status-fuzzy-subtle);
									}

									&.untranslated {
										background-color: inherit;
									}

									&.waiting {
										background-color: var(--gp-color-status-waiting-subtle);
									}

									&.old {
										background-color: var(--gp-color-status-old-subtle);
									}

									&.rejected {
										background-color: var(--gp-color-status-rejected-subtle);
									}

									&.changesrequested {
										background-color: var(--gp-color-status-changesrequested-subtle);
									}

								}

							}

							&.old,
							&.rejected,
							&.changesrequested {

								div.progress-notice {
									font-size: 0.75em;
									font-style: italic;
								}

								a,
								button {
									display: inline-block;

									&.hidden {
										display: none;
									}
								}

								a {
									padding: 0 1rem;
									width: 100%;
								}

								button.delete {
									position: absolute;
									translate: -1rem;
								}

							}

						}

					}

				}

			}

		}

		&.permission-validator {

			tr {

				&.duplicate {
					background-color: var(--gp-color-attention-emphasis);

					td {

						&.action {

							span.duplicate {
								color: var(--gp-color-bubble-inactive-project-text);
								padding: 0.2em 0.5em;
								border: 1px solid var(--gp-color-bubble-inactive-project-text);
								border-radius: 1em;
								text-decoration: none;
								text-align: center;
								text-shadow: none;
								margin-left: 0.2rem;
								font-weight: 500;
								font-size: 80%;
								background-color: #fff;
							}

						}

					}

				}

			}

		}

	}

}

section {

	&.gp-toolbox {
		margin-top: 2rem;
	}

}

// System notices.
.notice {

	&.notice-info {
		background-color: var(--gp-color-primary-50);
	}

}

// Header links.
div.gp-heading div.gp-toolbox-tools {
	margin-left: auto;

	a {

		&.gp-toolbox-tool-link {
			font-size: 1.125rem;
			font-weight: 600;
		}

	}

}

// Padding important for small columns.
.tablesorter-glotpress .tablesorter-header:not(.sorter-false) {
	padding-right: 2.5em;
	padding-left: 1em;
}
td.stats {
	text-align: center;
}
