/* CSS for GP-Toolbox. */
table.gp-table.translation-sets {
	display: none;
}

table.gp-table.translation-sets.ready {
	display: table;
}

table.gp-table.translation-sets tbody tr td.highlight.translated {
	background-color: var(--gp-color-status-current-subtle);
}

table.gp-table.translation-sets tbody tr td.highlight.fuzzy {
	background-color: var(--gp-color-status-fuzzy-subtle);
}

table.gp-table.translation-sets tbody tr td.highlight.untranslated {
	background-color: var(--gp-color-secondary-200);
}

table.gp-table.translation-sets tbody tr td.highlight.waiting {
	background-color: var(--gp-color-status-waiting-subtle);
}

table.gp-table.translation-sets tbody tr td.highlight.old {
	background-color: var(--gp-color-status-old-subtle);
}

table.gp-table.translation-sets tbody tr td.highlight.rejected {
	background-color: var(--gp-color-status-rejected-subtle);
}

table.gp-table.translation-sets tbody tr td.stats.old div,
table.gp-table.translation-sets tbody tr td.stats.rejected div {
	display: flex;
	align-items: center;
}

table.gp-table.translation-sets tbody tr td.stats.old div a,
table.gp-table.translation-sets tbody tr td.stats.old div button,
table.gp-table.translation-sets tbody tr td.stats.rejected div a,
table.gp-table.translation-sets tbody tr td.stats.rejected div button {
	display: inline-flex;
	justify-content: center;
}

table.gp-table.translation-sets tbody tr td.stats.old div a.count,
table.gp-table.translation-sets tbody tr td.stats.rejected div a.count {
	flex: max-content;
	margin: 0 10px;
}

table.gp-table.translation-sets tbody tr td.stats.old div button.delete,
table.gp-table.translation-sets tbody tr td.stats.rejected div button.delete {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: var(--gp-color-primary-500);
	margin-left: -20px;
}

table.gp-table.translation-sets tbody tr td.stats.old div button.delete:disabled,
table.gp-table.translation-sets tbody tr td.stats.rejected div button.delete:disabled {
	color: var(--gp-color-btn-disabled-text);
	cursor: default;
}

table.gp-table.translation-sets tbody tr td.stats.old div button.delete.hidden,
table.gp-table.translation-sets tbody tr td.stats.rejected div button.delete.hidden {
	display: none;
}
