/* CSS for GP-Toolbox. */
table.gp-table.translation-sets tbody tr td.stats.old div,
table.gp-table.translation-sets tbody tr td.stats.rejected div {
	display: flex;
	justify-content: center;
}

table.gp-table.translation-sets tbody tr td.stats.old div a,
table.gp-table.translation-sets tbody tr td.stats.old div button,
table.gp-table.translation-sets tbody tr td.stats.rejected div a,
table.gp-table.translation-sets tbody tr td.stats.rejected div button {
	display: inline-flex;
}

table.gp-table.translation-sets tbody tr td.stats.old div a.count,
table.gp-table.translation-sets tbody tr td.stats.rejected div a.count {
	flex: fit-content;
	flex-flow: column;
}

table.gp-table.translation-sets tbody tr td.stats.old div button.delete,
table.gp-table.translation-sets tbody tr td.stats.rejected div button.delete {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: var(--gp-color-primary-500);
}

table.gp-table.translation-sets tbody tr td.stats.old div button.delete:disabled,
table.gp-table.translation-sets tbody tr td.stats.rejected div button.delete:disabled {
	color: var(--gp-color-btn-disabled-text);
	cursor: default;
}
